POSTGRES_DB=farmfinder
POSTGRES_USER=farmfinder
POSTGRES_PASSWORD=replace-this-local-password
POSTGRES_PORT=54329
OBJECT_STORAGE_ENDPOINT=http://127.0.0.1:9000
OBJECT_STORAGE_REGION=us-east-1
OBJECT_STORAGE_ACCESS_KEY=farmfinder_local
OBJECT_STORAGE_SECRET_KEY=replace-this-local-object-secret
OBJECT_STORAGE_PORT=9000
OBJECT_STORAGE_CONSOLE_PORT=9001
SOURCE_RELEASE_BUCKET=farmfinder-source-releases
